<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>サイトサーモグラフィ</title>
</head>
<body>
<h1>サイトサーモグラフィ</h1>
<h2>コレは何？</h2>
<p>サイトのページ内でユーザがどのようなマウス遷移をしているかを解析するためのツールです。</p>

<h2>導入方法</h2>
<h3>サイトの登録</h3>
<p><a href="http://site-thermography.appspot.com/admin/">http://site-thermography.appspot.com/admin/</a>から、ユーザ登録を行い、解析対象のサイトをSettingsから登録してください。</p>
<p>登録後、追加したサイトをクリックするとアクティベートコードが表示されていると思います。</p>

<h3>サイトへタグの追加</h3>
<p>解析対象のサイトのbodyタグの終了直前に下記のコードを貼りつけてください。</p>
<p>jQueryについては、1.6でのみ動作確認を行っていますので、それ以外のバージョンを利用している場合、正常に動作しない場合があります。</p>

<script src="https://gist.github.com/961308.js?file=site-thermography-example.js"></script>

</body>
</html>
